# Database Configuration
# Format: postgresql://USERNAME:PASSWORD@HOST:PORT/DATABASE_NAME
DATABASE_URL=postgresql://postgres:YOURPASSWORD@localhost:5432/simcuti

# Server Configuration (opsional, default values digunakan jika tidak diset)
APP_HOST=0.0.0.0
APP_PORT=8000

# Environment: development / production
APP_ENV=development